body {
  background-color: beige;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

fieldset {
  border: none;
  padding: .3em;
}

div {
  padding:.3em;
}

.submit-button {
  width:100px;
  margin: 0 auto;
}
